/* Reset CSS */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

/* Estilo para o contêiner principal */
.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilo para o título */
h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

/* Estilo para o campo de entrada de texto */
input[type="text"] {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none; /* Removendo a borda de foco */
}

/* Estilo para o botão de pesquisa */
button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  outline: none; /* Removendo a borda de foco */
  transition: background-color 0.3s; /* Transição suave de cor ao passar o mouse */
}

button:hover {
  background-color: #0056b3;
}

/* Estilo para cada produto */
.product {
  margin-top: 20px;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
  background-color: #f9f9f9;
}

/* Estilo para a imagem do produto */
.product img {
  max-width: 100%;
  height: auto;
  margin-top: 10px;
  border-radius: 5px;
}
